{% extends 'base.html' %}
<!-- Testimonial Start -->
{% block title %}
Input Form
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Left Half - Provided Code -->
        <div class="col-md-6">
            <div class="container">
                <form method="post" action="/english/summary/file" enctype="multipart/form-data" id="inputForm">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Select input type:</label>
                        </div>
                        <select id="selection" onchange="handleSelectionChange()" class="custom-select">
                            <option value="textarea">Text Area</option>
                            <option value="file" selected>Upload File</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-file">Select File:</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="input-file" name="file">
                            <label class="custom-file-label" for="input-file">Choose file</label>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <br>
                {% if result %}
                <div class="result">
                    <h2>Result:</h2>
                    <pre>{{ result }}</pre>
                </div>
                {% endif %}
            </div>

        </div>

        <!-- Right Half - Chat Form -->
        <div class="col-md-6 bg-light">
            <h1>Chat PDF</h1>

            <div class="position-relative">
                <div class="chat-messages">

                    <!-- <div class="chat-message-right pb-4">
                        <div class="float-right">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                class="rounded-circle mr-1 float-right" alt="Chris Wood" width="40" height="40">
                        </div>
                        <div class="flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white">
                            <div class="font-weight-bold mb-1">You</div>
                            Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                        </div>
                    </div>

                    <div class="chat-message-left pb-4">
                        <div>
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
                                alt="Sharon Lessman" width="40" height="40">
                        </div>
                        <div class="flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white">
                            <div class="font-weight-bold mb-1">Sharon Lessman</div>
                            Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
                        </div>
                    </div> -->


                    <div class="row">
                        <div class="col-md-1 order-md-1">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                class="rounded-circle float-right" alt="Avatar Image" width="40" height="40">
                        </div>
                        <div class="col-md-8 order-md-2 flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white">
                            <div class="chat font-weight-bold mb-1">
                                <p>Text chat message goes here...</p>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-1 order-md-2">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                class="rounded-circle float-right" alt="Avatar Image" width="40" height="40">
                        </div>
                        <div class="col-md-11 order-md-1 flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white">
                            <div class="chat font-weight-bold mb-1">
                                <p>Text chat message goes here...</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type your message">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script>
    function handleSelectionChange() {
        var selection = document.getElementById("selection");
        var form = document.getElementById("inputForm");

        form.action = "/english/input/textarea";
        form.enctype = "";
        form.method = 'get';
        form.submit();
    }
</script>
{% endblock %}