{% extends 'base.html' %}
<!-- Testimonial Start -->
{% block title %}
English Summarization
{% endblock %}
{% block content %}

<div class="col-md-6 bg-light">
    <h1>Chat PDF</h1>

    <div class="position-relative">
        <div class="chat-messages overflow-auto" style="max-height: 550px;">

            {% for sender, message in messages %}
            <div class="row">
                {% if loop.index % 2 == 1 %}
                <div class="col-md-1 order-md-1">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle"
                        alt="Avatar Image" width="40" height="40">
                </div>
                <div class="col-md-8 order-md-2 flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white">
                    <div class="chat font-weight-bold mb-1 rounded-circle">
                        <p>{{ message }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-md-8 order-md-1 flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 text-white text-right">
                    <div class="chat font-weight-bold mb-1 rounded-circle">
                        <p>{{ message }}</p>
                    </div>
                </div>
                <div class="col-md-1 order-md-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle"
                        alt="Avatar Image" width="40" height="40">
                </div>
                {% endif %}
            </div>
            <br>
            {% endfor %}


        </div>
    </div>

    <div class="flex-grow-0 py-3 border-top">
        <form action="/english/summary/file" method="post">
            <div class="input-group">
                <input type="file" class="custom-file-input" id="input-file" name="file">
                <input type="text" class="form-control" name="message" placeholder="Type your message">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}