{% extends 'base.html' %}
<!-- Testimonial Start -->
{% block title %}
Home page
{% endblock %}
{% block content %}
<style>
    body {
        overflow: hidden;
    }
</style>
<div style="display: flex; justify-content: center; align-items: center;">
    <style>
        .title {
            font-size: 64px;
            color: #ff5555;
            text-align: center;
            margin-bottom: 20px;
        }

        .subtitle {
            font-size: 32px;
            margin-bottom: 10px;
        }

        .subtitle-rocket {
            color: #ff9800;
        }

        .subtitle-check {
            color: #4caf50;
        }

        .subtitle-upload {
            color: #2196f3;
        }

        .subtitle-assistant {
            color: #9c27b0;
        }
    </style>
    <div>
        <h3>SUMMEAI</h3>
        <h2 class="title"><strong>Welcome to SumMeAI</strong></h2>
        <h3 class="subtitle subtitle-rocket"><i class="fas fa-rocket"></i> Maximize your productivity with SumMeAI</h3>


        <p>Are you tired of spending hours reading through lengthy documents and trying to extract the most important
            information? Look no further! SumMeAI is here to revolutionize the way you interact with text.</p>

        <h3 class="subtitle subtitle-check"><i class="fas fa-check-circle"></i> Summarize with ease</h3>


        <p>With SumMeAI, you can easily summarize any text in a matter of seconds. Whether it's a blog post, an article,
            or a report, our advanced algorithms analyze the content and extract the key points, saving you valuable
            time and effort. Plus, we support both Vietnamese and English languages, so language barriers are no longer
            a hindrance.</p>

        <h3 class="subtitle subtitle-upload"><i class="fas fa-cloud-upload-alt"></i> Effortlessly upload and summarize
            files</h3>


        <p>Do you have a large document in PDF or TXT format that needs summarizing? SumMeAI has you covered! Simply
            upload your file, and our application will handle the rest. Our powerful parsing engine can process various
            file types, ensuring that you receive accurate and concise summaries every time.</p>

        <h3 class="subtitle subtitle-assistant"><i class="fas fa-comment-dots"></i> Seamless integration of virtual
            assistant capabilities</h3>

        <p>Imagine having a personal assistant who can answer questions about your uploaded documents. With SumMeAI's
            integrated virtual assistant, you can do just that. Whether you need clarification on a specific point or
            want to explore further insights, our AI-powered assistant is ready to assist you.</p>
        <h3 class="subtitle subtitle-power"><i class="fas fa-bolt"></i> Experience the power of SumMeAI today</h3>

        <p>Join the ranks of professionals, researchers, and students who have already discovered the convenience and
            efficiency of SumMeAI. Unlock the full potential of your documents and make informed decisions faster than
            ever before.</p>
    </div>
</div>

{% endblock %}