{% extends 'base.html' %}
<!-- Testimonial Start -->
{% block title %}
Home page
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
    <div>
        <h3>SUMMEAI</h3>
        <h1 style="font-size: 80px; color: red;"><strong>What is SumMeAI?</strong></h1>
        <p>Welcome to SumMeAI - the ultimate AI-powered language tool designed to make summarizing and understanding
            texts effortless. With SumMeAI, you can easily summarize paragraphs, essays, PDF files, and text files, all
            with the power of artificial intelligence. Whether you're working with Vietnamese or English content, our
            tool supports both languages, ensuring that language barriers are a thing of the past.</p>
    </div>
</div>

{% endblock %}
<!-- Testimonial Start -->